<div class="container">
  <div class="row">
    <div class="col-12 mb-5">
      <a href="javascript:history.back()" style="float: right;"><button
          class="btn btn-outline-secondary btn-sm">BACK</button></a>
    </div>
    <div class="col-5 mr-3" style="display: flex; flex-direction:column;align-items:flex-end; justify-content:center">
      <h1 style="text-align: right;">{{restaurant.name}}</h1>
      <p>{{restaurant.Category.name}}</p>
    </div>
    <div class="col-4" style="border-left: 8px solid gray;">
      <p>&rsaquo; 評論則數 {{commentsCount}}</p>
      <p>&rsaquo; 瀏覽次數 {{restaurant.viewCounts}}</p>
      <p>&rsaquo; 收藏人數 0</p>
    </div>
  </div>
</div>